/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 16px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
}
main {
    margin-top: 30px;
}

main section:not(.hebergements, .populaires) {
    margin-bottom: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.title-h3 {
    margin: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

::placeholder {
    color: black;
    opacity: 1;
}

input[type="search"]:focus, button:focus {
    outline: none;      /*pour avoir l'effet sur toute la page*/
}

p {
    margin: 8px 0px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
/****************************** Header avec Nav ******************************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 69px;
    margin: 0;
    padding-left: 0;
}

.nav-header li {
    padding: 16px 0px;
    flex: 1;
    text-align: center;
}

header img {
    margin: 30px 0px;
    height: 19px;
    width: 61px;
}

.nav-header a:hover {
    color: #0065FC;
}
/***************************** H1 and Filters and Search ***************************/
.h1-and-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px; 
    /*est-ce bien nécessaire pour juste avoir 35px entre les éléments?*/
}
    /**H1 and p **/
    p {
        margin-bottom: 0;
    }
    /******* Search bar ******/
    .form-search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
        /*ikon*/
        .location-ikon {
            flex: none;
            display: inline-block;
            box-sizing: border-box;/*pareil avec les autres sinon ça dépasse*/
            width: 50px;
            height: 49px;
            background-color: #F2F2F2;
            border: 1px solid #F2F2F2;
            border-radius: 15px 0px 0px 15px;
            text-align: center;
            position: relative;
        }
        .fa-location-dot {
            height: 18px;
            width: 14px;
            position: absolute;
            left: 18px;
            top: 15px;
        }
        /*search*/
        .search-location {
            box-sizing: border-box; /*pareil avec les autres sinon ça dépasse*/
            height: 49px;
            width: 195px;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            border: none;
            border-top:solid 2px #F2F2F2;
            border-bottom:solid 2px #F2F2F2;
        }
        /*button*/
        .button-location {
            flex: none;
            box-sizing: border-box;
            width: 132px;
            height: 49px;
            background: #0065FC;
            border: 1px solid #0065FC;
            border-radius: 0px 15px 15px 0px;
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
    /******* Filtres ******/
    .filter-button {  /*ici j'avais mis flex:none; mais cela inlfu sur le gap 10px meilleurs rendu?*/
        flex: none;
        box-sizing: border-box;
        height: 50px;
        padding: 4px 19px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .filter-button:hover {
        background-color: #DEEBFF;
    }

    .filter-button input {
        font-weight: 700;
        font-size: 17px;
        background-color: white;
        border: none;
        padding: 0;
        background-color: inherit;
    }
    .filter-button label {
        width: 22px;
        height: 22px;
        position: relative;
        font-size: 21px;
    }
    .fa-money-bill-wave, .fa-fire , .fa-heart, .fa-person {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        
    
    /******* Info bar ******/
.info {
    display: flex;
    align-items: center; /*il n'y aurait pas une autre possibilité plus simple?*/
    gap: 10px;
}
.ikon-info {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    text-align: center;
    border-radius: 50%;
    flex-shrink: 0;
}
.fa-info {
    color: #0065FC;
    font-size: 10px;
}

/***************************** Hebergements And Populaires ***************************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing: border-box;
}

/*********************************** Hebergements **********************************/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.hebergements-cards img {
    object-fit: cover;
    width: 100%;
    height: 134px;
    box-sizing: content-box;
    border-radius: 20px 20px 0px 0px;
}
/***************************** Populaires ********************************/
.populaires {
    width: 31%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}
.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    height: 146px;
}

.populaires-cards img {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 7px;
}
/************* Activités*************/
.activites {
    padding: 30px;
}

/****** Media queries ***********/

/****  Very Large ***/

/**** Desktop  ****/
@media (min-width: 1024px) {
    .filters {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}
/*from medium up*/
@media (min-width: 768px){
    .main-container {
        margin: 0 50px;
    }
    /**Section header**/
    header {
        height: 79px;
    }
    .nav-header li:hover {
        border-top: solid #0065FC 2px;
        padding-top: 14px;
    }
    /**section h1 et filtres**/
    .filter-buttons {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .fa-magnifying-glass {
        display: none;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /**section h1 et filtres**/
    .filters {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /********** Header *************/
    header {
        flex-direction: column;
        align-items:center;
    }
    .nav-header {
        width: 100%;
    }
    .nav-header ul {
        align-items: baseline;
        gap: 0;
    }
    .nav-header li {
        padding-top: 0;
    }
    .nav-header li:hover {
        border-bottom: solid #0065FC 2px;
        padding-bottom: 14px;
    }
    /**********Section H1 and Filters and Search *********/

    .h1-and-filters {
        padding: 0px 20px;
    }
    .form-search {
        width: 100%;
        max-width: 350px;
        position: relative;
        margin-right: 10px; /*pour compenser la position absolue du .button-location*/
    }
    .search-location {
        flex: 1;
    }
    .button-location {
        width: 49px;
        border-radius: 15px;
        position: absolute;
        left: 88%;
    }
    .hide-at-breakpoint-768 {
        display: none;
    }
    .filter-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 20px;
    }

}   