/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC; /*style de couleurs défini pour toute la page*/
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 16px;
}

.main-container {
    width: 100%;
    max-width: 1440px; /*taille limite d'affichage défini par les spécifications*/
    min-width: 320px;
    box-sizing: border-box;
}
main {
    margin-top: 30px;
}

main section:not(.hebergements, .populaires) {
    margin-bottom: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.title-h3 {
    margin: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit; /*ici cela permet d'avoir la bonne couleur au hover du container parent*/
}

ul {
    list-style-type: none; /*enlever les points de liste et espace par défaut*/
    padding-left: 0;
    margin: 0;
}

::placeholder {
    color: black;
    opacity: 1; /*pour que l'effet soit cohérent sur toute la page*/
}

input[type="search"]:focus, button:focus {
    outline: none;      /*pour avoir l'effet sur toute la page*/
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

.card-article { /*format uniforme à la plupart des cartes: exception padding des activités à 0*/
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card {             /*ayant ajouté <a> après dans <article> cela permet*/ 
    height: 100%;   /*de m'assurer que toute la place est prise pour toutes*/
    display: flex;  /*les cartes*/
}                    

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.flex {
    display: flex;
}
/****************************** Header avec Nav ******************************/
    header {
        justify-content: space-between;
    }

    .nav-header ul {
        justify-content: center;
        align-items: center;
        gap: 69px;
    }

    .nav-header li {
        padding: 16px 0px;
        flex: 1;            /*assure une disposition sur toute la longueur uniformemment surtout en mobile*/
        text-align: center;
    }

    header img {
        margin: 30px 0px;
        height: 19px;
        width: 61px;
    }

    .nav-header li:hover {
        color: #0065FC; /*couplé à 'color: inherit;' sur balises a*/
    }
/***************************** H1 and Filters and Search ***************************/
.h1-and-filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 35px; 
    /*est-ce bien nécessaire pour juste avoir 35px entre les éléments?*/
}
    /**H1 and p **/
    .addition-to-h1 {
    margin: 8px 0px 0px 0px;
    }
    /******* Search bar ******/
    .form-search {
        align-items: center;
        justify-content: flex-start;
    }
        /*ikon*/
        .location-ikon {
            flex: none;
            display: inline-block;
            box-sizing: border-box;/*pareil avec les autres sinon ça dépasse*/
            width: 50px;
            height: 49px;
            background-color: #F2F2F2;
            border: 1px solid #F2F2F2;
            border-radius: 15px 0px 0px 15px;
            text-align: center;
            position: relative;
        }
        .fa-location-dot { /*dimensions icone et positionnement dans conteneur*/
            height: 18px;
            width: 14px;
            position: absolute;
            left: 18px;
            top: 15px;
        }
        /*search*/
        .search-location {
            box-sizing: border-box; /*pareil avec les autres sinon ça dépasse*/
            height: 49px;
            width: 195px;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            border: none;
            border-top:solid 2px #F2F2F2;
            border-bottom:solid 2px #F2F2F2;
        }
        /*button*/
        .button-location {
            flex: none;
            box-sizing: border-box;
            width: 132px;
            height: 49px;
            background: #0065FC;
            border: 1px solid #0065FC;
            border-radius: 0px 15px 15px 0px;
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
    /******* Filtres ******/
    .filter-button {  /*ici j'avais mis flex:none; mais cela inlfu sur le gap 10px meilleurs rendu?*/
        box-sizing: border-box;
        height: 50px;
        padding: 4px 19px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .filter-button:hover {
        background-color: #DEEBFF;
    }

    .filter-button input {
        font-weight: 700;
        font-size: 17px;
        background-color: white;
        border: none;
        padding: 0;
        background-color: inherit;
    }
    .filter-button label {
        width: 22px;
        height: 22px;
        position: relative;
        font-size: 21px;
    }
    .fa-money-bill-wave, .fa-fire , .fa-heart, .fa-person {
        position: absolute; /*ici : afin de bien centrer les icones*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        
    /******* Info bar ******/
    .info {
        align-items: center; /*il n'y aurait pas une autre possibilité plus simple?*/
        gap: 10px;
    }
    .ikon-info {
        width: 24px;
        height: 24px;
        border: 1px solid #D9D9D9;
        text-align: center;
        border-radius: 50%;
        flex-shrink: 0;
    }
    .fa-info {
        color: #0065FC;
        font-size: 10px;
    }

/***************************** Hebergements And Populaires ***************************/
    .hebergements-and-populaires {
        justify-content: space-between;
    }

    .hebergements-and-populaires section {
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    /*********************************** Hebergements **********************************/
        .hebergements {
            width: 65%;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }

        .hebergements-cards {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: minmax(207.25px, auto);
            gap: 30px;
        }
        .hebergements-cards .card {
            flex-direction: column;
            justify-content: space-between;
            gap: 9px; /*sur figma 4 plus 5 de 'padding' mais ici le padding est sur toutes les .card*/
        }
        .hebergements-cards img {
            width: 100%;
            height: 124px;
            box-sizing: border-box;
            border-radius: 18px 18px 0px 0px;
        }
        .hebergements-cards .card-txt {
            box-sizing: border-box;
            padding: 0px 10px 10px 10px;
            height:fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 8px;
        }
    /***************************** Populaires ********************************/
        .populaires {
            width: 31%;
            padding: 30px;
            flex-direction: column;
            justify-content: flex-start;
            gap: 30px;
        }
        .populaires-cards {
            flex-direction: column;
            gap: 30px;
        }
        .populaires-title {
            justify-content: space-between;
            align-items: center;
        }

        .populaires-cards .card-article {
            flex: 1;
        }
        
        .populaires-cards .card {
            height: 146px;
        }

        .populaires-cards img {
            width: 37%;
            border-top-left-radius: 18px;
            border-bottom-left-radius: 18px;
        }

        .populaires-cards .card-content {
            width: 63%;
            padding-left: 15px;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
        }

        .populaires-cards .card-title {
            margin-top: 11px;
            margin-bottom: 4px;
        }

        .populaires-cards .card-subtitle {
            margin: 0;
        }
        
        .populaires-cards .card-rating {
            margin-bottom: 5px;
        }
        /***************afficher plus ***************/
        p[class="title-h3"] {  /*ici j'aurai pu mettre cela dans "title-h3" mais c'est pour essayer la fonctionnalité*/
            font-weight: 700;
        }

/************* Activités*************/
    .activites {
        padding: 30px;
        flex-direction: column;
        gap: 30px;
    }
    .activites-cards {
        justify-content: space-evenly;
        gap: 30px;
    }
    .activites-cards .card-article {
        flex: 1;
        padding: 0;
    }
    .activites .card {
        flex-direction: column;
    }
    .activites-cards .card-title {
        align-items: center;
        box-sizing: border-box;
        height: 14%;
        padding: 0 19px;
    }
    .activites-cards img {
        width: 100%;
        height: 86%;
        border-radius: 20px 20px 0px 0px;
    }
/************ Footer ************/
    .footer {
        justify-content: stretch;
        background-color: #F2F2F2;
    }
    .footer-list {
        padding: 20px;
        flex: 1;
    }
    .footer-lines {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
    }

/*************************** Media queries *************************/

    /****  Very Large ***/

    /**** Desktop and more (more than 1024px)****/
    @media (min-width: 1024px) {
        .filters {
            display: flex;
            gap: 15px;
            align-items: center;
        }
        .hebergements-and-populaires {
            gap: 40px;
        }
        /**Section Activites**/
        
    }
    /***from small up (more than 768px)***/
        @media (min-width: 768px){
            .main-container {
                margin: 0 50px;
            }
            /**Section header**/
            header {
                height: 79px;
            }
            .nav-header li:hover {
                border-top: solid #0065FC 2px;
                padding-top: 14px;
            }
            /**section h1 et filtres**/
            .filter-buttons {
                display: flex;
                gap: 15px;
                align-items: center;
            }
            .fa-magnifying-glass {
                display: none;
            }
            /**section hébergement et populaire **/
                /**Hebergements**/
                .hebergements {
                    background-color: var(--main-bg-color);
                }
                /**Populaires**/
                .populaires {
                    background-color: var(--main-bg-color);
                }
        }
    /* Medium devices (tablets, less/equal than 1024px) */

        @media (max-width: 1024px) {

            /**section h1 et filtres**/
            .filters {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .filter-button input {
                font-size: 16px;
            }
            
            /**section hébergement et populaire **/
            .hebergements-and-populaires {
                flex-direction: column;
                gap: 50px;
            }
            /**Hebergements**/
            .hebergements {
                width: 100%;
            }
            /**Populaires**/
            .populaires {
                width: 100%;
            }

        }
        /***** Tablette only *****/
        @media (max-width: 1024px) and (min-width: 768px) {
            /****hébergements ****/
            .hebergements-cards .card-title {
                font-size: 14px;
            }
            .hebergements-cards .card-subtitle {
                font-size: 13px;
            }
            /*** populaires ***/
            .populaires-cards {
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
            }
            .populaires-cards .card-title {
                font-size: 14px;
            }

            .populaires-cards .card-subtitle {
                font-size: 13px;
            }
            .populaires-cards article {
                width: 30%;
            }
            /**Section Activites**/
            .activites-cards .card-article {
                height: 270px;
                width: 193.5px;
            }
            .activites-cards .card-title {
                font-size: 14px;
                height: 26%;
            }
            .activites-cards img {
                height: 74%;
            }
        }
    /* Small devices (phones, less than 768px) */
        @media (max-width: 767.98px) {
            /********** Header *************/
                header {
                    flex-direction: column;
                    align-items:center;
                }
                .nav-header {
                    width: 100%;
                }
                .nav-header ul {
                    align-items: baseline;
                    gap: 0;
                }
                .nav-header li {
                    padding-top: 0;
                }
                .nav-header li:hover {
                    border-bottom: solid #0065FC 2px;
                    padding-bottom: 14px;
                }
            /**********Section H1 and Filters and Search *********/

                .h1-and-filters {
                    padding: 0px 20px;
                }
                .form-search {
                    width: 100%;
                    max-width: 350px;
                    position: relative;
                }
                .search-location {
                    flex: 1;
                }
                .button-location {
                    width: 49px;
                    border-radius: 15px;
                    position: relative;
                    left: -10px;
                }
                .hide-at-breakpoint-768 {
                    display: none;
                }
                .filter-buttons {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 10px;
                    row-gap: 20px;
                }
                .filter-button input {
                    font-size: 14px;
                }
            /**section hébergement et populaire **/
                .hebergements-and-populaires {
                    flex-direction: column-reverse;
                    justify-content: space-around;
                    gap: 15px;
                }
                .hebergements-and-populaires section {
                    border-radius: 0;
                    padding: 20px;
                }
                /**hebergement**/
                .hebergements {
                    background-color: white;
                    gap: 15px;
                }
                .hebergements-cards {
                     grid-template-columns: 1fr;
                     gap: 15px;
                }
                .hebergements-cards article {
                    box-sizing: border-box;
                    width: 100%;
                }
                .port {
                    grid-row: 1;
                }
                .amina {
                    grid-row: 6;
                }
                .mouettes {
                    grid-row: 3;
                }
                .mer {
                    grid-row: 4;
                }
                .canebiere {
                    grid-row: 2;
                }
                .panier {
                    grid-row: 5;
                }
                /**populaires**/
                .populaires {
                    background-color: var(--main-bg-color);
                }
                .populaires-cards {
                    flex-direction: column;
                    gap: 15px;
                }

            /**Section Activites**/
            .activites-cards {
                flex-direction: column;
                gap: 15px;
            }
            .activites-cards .card-article {
                flex: none; /*pour remédier à l'étirement verticale du flex: 1; en version normale*/
                height: 200px;
            }
            .activites-cards .card-title {
                height: 30%;
            }
            .activites-cards img {
                height: 70%;
            }
            /************ Footer ************/
                .footer {
                    flex-direction: column;
                    padding: 10px;
                    gap: 10px;
                    align-items: stretch;
                }
        }           